main {
    font-family: sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

/*------------header----------------*/

/*------------------Fist word-----------------*/

.gog-header {
    display: flex;
    padding: 10px;
    justify-content: flex-end;

}

#ul-header {
    display: flex;
    list-style: none;
    align-items: center;
}

.header-link {
    text-decoration: none;
    color: black;
    font-size: 11px;
    margin-right: 15px;
}

.header-link:hover {
    text-decoration: underline;
}

/*-----------------Header icon---------------------------------*/

.apps {
    color: rgba(29, 28, 28, 0.733);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}  

.apps:hover {
    background-color: rgb(228, 224, 224);

}
    


/*------------------Header button--------------------*/

.btn-a {
    text-decoration: none;
    color: white;
}

.btn-header {
    font-size: 15px;
    background-color: #1a73e8;
    width: 100px;
    height: 37px;

    border-radius: 5px;
    border-style: none;

    cursor: pointer;
}

.btn-header:hover {
    background-color: #6fa6ee;

}

/* ----------------Main--------------------*/

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 175px;
    padding: 20px;    
    
}

img {
    width: 272px;
}

/*-------------search bar-------------------*/

#search-div {

    display: flex;
    margin-top: 25px;

    border-radius: 30px;
    border: rgb(233, 229, 229) solid 1px;

    max-width: 580px;
    width: 100%;

    height: 42px;
    padding: 1px;
    align-items: center;    
}

.search-input {
    border: none;
    text-decoration: none;
    outline: none;
    width: 100%;
}

.search-img {
    margin-left: 10px;
    width: 30px;
}

#buttons-div {
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 36px;
    margin-top: 30px;
    grid-gap: 20px;

}

.buttons-a {
    text-decoration: none;
    font-size: 14px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons{
    background-color: #f8f9fa;
    border: none;
}

.buttons:hover {
    border: rgb(192, 191, 191) 2px solid;
    border-radius: 3px;
}

.offer {
    margin-top: 30px;
    font-size: 11px;
}

.offer-a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: #f2f2f2;    
}

.country {    
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: rgb(219, 216, 216) 1px solid;

    color: rgb(116, 111, 111);
}

.footer-links {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.ul-left {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.ul-right {
    display: flex;
    list-style: none;
    text-decoration: none;
}


.li-links {
    padding: 15px;
    color: rgb(116, 111, 111);
    text-decoration: none;
    font-size: 14px;

}


@media (max-width: 650px) {
    .footer-links {
        flex-direction: column;
        align-items: center;
        line-height: 35px;        
    }

    
}